@font-face {
  font-family: Tele-Grotesk-Ultr;
  src: url('./assets/fonts/Tele-Grotesk-Ultr/Tele-Grotesk-Ultr.ttf');
}
@font-face {
  font-family: Tele-Grotesk-Fett;
  src: url('./assets/fonts/Tele-Grotesk-Fett/Tele-Grotesk-Fett.ttf');
}
@font-face {
  font-family: Tele-Grotesk-Norm;
  src: url('./assets/fonts/Tele-Grotesk-Norm/Tele-Grotesk-Norm.ttf');
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fff;
}

h1,
h2 {
  font-family: Tele-Grotesk-Ultr;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}
h1 {
  font-size: 4rem;
  color: #e20074;
}
h2 {
  font-size: 2.5rem;
}
a {
  color: #e20074;
}
.logo-img {
  vertical-align: middle;
}
.logo-title {
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  width: 0;
  display: inline-block;
  vertical-align: middle;
  font-family: Tele-Grotesk-Fett;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
header {
  height: 4.1rem;
}
main {
  margin: 0 auto;
  width: 50rem;
}
li {
  list-style: none;
  list-style-type: none;
  position: relative;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}
li:before {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 2ex;
  content: '–';
}
